# Build
build/
.cache/

# CMake local
CMakeUserPresets.json

# IDEs
.vscode/
.idea/
*.user
CMakeLists.txt.user*

# Qt Creator
*.autosave

# aqtinstall
aqtinstall.log

# Pasta gerada por `cmake --install`
/dist/
